---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="touch grass conf">
  <nav class="flex w-full justify-between">
    <div class="flex gap-4 items-center">
      <img src="/grass3.svg" alt="touch grass conf icon" class="w-24 h-24"/> 
      <h2 class="font-comic text-3xl text-green-700 font-bold">touch grass conf</h2>
    </div>
  </nav>

  <!-- put marquee here -->

  <div class="flex flex-col gap-8 w-full max-w-5xl mx-auto">
    <section class="flex flex-col gap-8">
      <h1 class="text-center font-comic font-bold text-6xl text-sky-600 leading-snug">
        bringing the web devs out to see the sun and <span class="text-green-700">touch grass</span>
      </h1>
      <div class="flex gap-8 justify-center w-fit mx-auto">
        <button class="px-8 py-4 text-xl font-bold font-comic bg-sky-500 text-white rounded-full w-fit mx-auto hover:bg-sky-700">
          Register as Attendee
        </button>
        <button class="px-8 py-4 text-xl font-bold font-comic bg-green-700 text-white rounded-full w-fit mx-auto hover:bg-green-800">
          Apply for CFP
        </button>
      </div>
    </section>

    <section class="flex gap-12 w-full justify-center">
      <img src="/grass1.svg" alt="grass pic" />
      <img src="/grass3.svg" alt="grass pic" />
      <img src="/grass2.svg" alt="grass pic" />
    </section>

    <section class="flex flex-col gap-8">
      <h2 class="text-center text-green-700 font-comic font-bold text-4xl">What's happening at touch grass conf?</h2>
      <div class="">
        <h3 class="font-comic font-bold text-3xl">Talks</h3>
        <p class="text-xl leading-relaxed w-full max-w-2xl">
          Just like other cool conferences, we are going to have speakers talk about smart stuff (smart is not guaranteed).
          They will spoken live in front of a studio audience (YOU!) and be livestreamed for all grass touchers everywhere! 
        </p>
      </div>
      <div class="">
        <h3 class="font-comic font-bold text-3xl">Activities</h3>
        <p class="text-xl leading-relaxed w-full max-w-2xl">
          If we're forced to be outside, we'll make our own fun! Cornhole, board games, and pinatas? We got them all!
        </p>
      </div>
      <div class="">
        <h3 class="font-comic font-bold text-3xl">People</h3>
        <p class="text-xl leading-relaxed w-full max-w-2xl">
          touch grass conf is all about meeting new people and stepping outside of your comfort zone. Talk about all
          the nerdy web stuff you've been working on and potentially make new lifelong friends, making going outside worth it.
        </p>
      </div>
    </section>

    <section class="flex gap-12 w-full justify-center">
      <img src="/grass1.svg" alt="grass pic" />
      <img src="/grass3.svg" alt="grass pic" />
      <img src="/grass2.svg" alt="grass pic" />
    </section>


    <section class="flex flex-col gap-8">
      <h2 class="text-center text-green-700 font-comic font-bold text-4xl">Apply for CFPs!</h2>
      <p class="text-center text-2xl w-full max-w-4xl mx-auto">
        Do you have something to say? We would love to have you talk and give a presentation at Touch Grass Conf!
        Please fill out the form below and we will get back to you as soon as possible. 
      </p>
      <p class="text-lg text-center text-red-700">
        Note: we will not provide
        any perks like transportation costs or hotel stays. This is very much a grassroots conference (no pun intended).
        We have no money.
      </p>

      <button class="px-8 py-4 text-xl font-bold font-comic bg-green-700 text-white rounded-full w-fit mx-auto hover:bg-green-800">
        Apply for CFP
      </button>
    </section>

  </div>
</SiteLayout>
