---
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/grass3.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
	</head>
	<body class="font-tabular font-bold flex flex-col gap-8 w-full h-full min-w-screen min-h-screen p-8 bg-sky-200">
    <slot />
	</body>
</html>


<style is:global>
  @font-face {
    font-family: Comic Cat;
    src: url("/Comic_CAT.otf");
  }

  @font-face {
    font-family: Tabular;
    src: url("/Tabular-Variable.woff2");
  }
</style>
